<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Delete first Element</button>
      </div>
      <app-server-element
        *ngFor="let element of serverElements"
        [srvElement]="element"
        [name]="element.name">
        <p #paragraphContent>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <hr>
  <h2>Assignments</h2>
  <app-game_control (gameStarted)="saveNumber($event)"></app-game_control>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <app-odd_number *ngFor="let oddNumber of oddNumbers"
          [oddNumber]="oddNumber"></app-odd_number>
      </div>
      <div class="col-xs-6">
        <app-even_number *ngFor="let evenNumber of evenNumbers"
          [evenNumber]="evenNumber"></app-even_number>
      </div>
    </div>
  </div>
</div>
