<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="showAllNumbers()">Show all numbers</button>
      <button
        class="btn btn-primary"
        (click)="showOnlyOdd()">Only show odd numbers</button>
      <button
        class="btn btn-primary"
        (click)="showOnlyEven()">Only show even numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="!onlyOdd && !onlyEven">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let number of numbers">
            {{ number }}
          </li>
        </div>
        <div *ngIf="onlyEven">
          <li
            class="list-group-item"
            [ngClass]="{odd: evenNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let evenNumber of evenNumbers">
            {{ evenNumber }}
          </li>
        </div>
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: oddNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let oddNumber of oddNumbers">
            {{ oddNumber }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <ng-template [ngIf]="onlyEven">
        <p>Only even</p>
      </ng-template>
      <p appBasicHighlight>Style from BasicHighlight Directive</p>
      <p appBetterHighlight>Style from BetterHighlight Directive</p>
      <p appBetterHighlight
        [defaultTextAlign]="'center'"
        [highlightTextAlign]="'right'">
        Style from BetterHighlight Directive dynamically setting values
      </p>
      <h3>Unless directive sample</h3>
      <button class="btn btn-primary" (click)="showOnlyOdd2()">Toggle Odd / Even numbers</button>
      <ul class="list-group">
        <div *ngIf="onlyOdd2">
          <li
            class="list-group-item"
            [ngClass]="{odd: oddNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let oddNumber of oddNumbers">
            {{ oddNumber }}
          </li>
        </div>
        <div *appUnless="onlyOdd2">
          <li
            class="list-group-item"
            [ngClass]="{odd: evenNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let evenNumber of evenNumbers">
            {{ evenNumber }}
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
